<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/ex/task02result">
        <div> num
            <input type="text" name="num" placeholder="점수를 입력해주세요.">
        </div>
        <div> kor
            <input type="text" name="kor" placeholder="점수를 입력해주세요." >
        </div>
        <div> eng
            <input type="text" name="eng" placeholder="점수를 입력해주세요" >
        </div>
        <div> math
            <input type="text" name="math" placeholder="점수를 입력해주세요" >
        </div>
        <button> 전송 </button>
    </form>
</body>
</html>