<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TASK01</title>
</head>
<body>
    <form action="/ex/task01result">
        <div> 상품명
            <input type="text" name="name" placeholder="상품명을 입력해주세요.">
        </div>
      <div> 상품가격
            <input type="text" name="price" placeholder="상품가격을 입력해주세요." >
        </div>
        <div> 상품재고
            <input type="text" name="stock" placeholder="상품재고를 입력해주세요" >
        </div>
        <div> 브랜드명
            <input type="text" name="brand" placeholder="브랜드를 입력해주세요" >
        </div>
        <button> 전송 </button>
    </form>
</body>
</html>